.HomePage-internal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    height:50vh; 
    /* border: 2px solid red; */
    position: relative;
    margin: 12.5%;
    width:50%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.HomePage-Container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width:20%;
    height:20%;
}
